# ----------------------------
# Virtual environment
# ----------------------------
.venv/

# ----------------------------
# Python cache
# ----------------------------
__pycache__/
*.pyc

# ----------------------------
# Secrets (NEVER COMMIT)
# ----------------------------
.env
.env.*

# ----------------------------
# Databases
# ----------------------------
*.sqlite3
data/db/

# ----------------------------
# Raw data (DO NOT COMMIT DATASETS)
# ----------------------------
data/raw/

# ----------------------------
# Models
# ----------------------------
# NOTE:
# If instructor allows committing trained model, COMMENT this out.
# Otherwise, keep it.
# models/*.pkl

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db


# Ignore experiment model binaries
models/lgbm__*.pkl
models/rf__*.pkl
models/xgb__*.pkl
models/logreg__*.pkl
